#authorizations.hide
  %legend Authorizations
  %table.table.table-striped[current_user]
    %thead
      %tr
        %th Provider
        %th Action
    %tbody
      -Authorization::SUPPORTED_PROVIDERS.each do |provider, properties|
        %tr
          %td= provider
          -if current_user.authorizations.find_by_provider(properties[:auth_name])
            %td= link_to "Delete", current_user.authorizations.find_by_provider(properties[:auth_name]), :method => :delete, :confirm => "Are you sure?"
          -else
            %td= link_to "Add", properties[:auth_link]