%nav.profile
  %ul.nav.nav-list
    %li.nav-header Profile Management
    %li
      %a#personal-data{:href => "#"}
        %i.icon-user
        Personal Data
    %li
      %a#authorizations{:href => "#"}
        %i.icon-ok-sign
        Authorizations
    %li
      %a#preferences{:href => "#"}
        %i.icon-cog
        Preferences

#profile-content
  = render "form"

  = render "authorizations"  

  = render "preferences"