#terms
  %h1 Terms of service
  %h4 1. Your Agreement with BP Track
  %p
    Your use of http://bptrack.appspot.com and related web sites ("BP Track") is governed by this agreement. "We," "us," or "our" means BP Track LLC., a California limited liability corporation and its subsidiaries and affiliates. You may be subject to additional posted guidelines or rules applicable to certain content, services, or other items and information available through BP Track LLC (which are hereby incorporated by reference).

  %h4 2. Not Medical Advice
  %p
    Use of BP Track does not create a doctor-patient relationship nor does BP Track offer medical advice. Any content accessed ("Content") or services ("Services") through BP Track is for informational purposes only, and is not intended to cover all possible uses, directions, precautions, drug interactions, or adverse effects.
  %p  
    Content and Services should not be used during a medical emergency or for the diagnosis or treatment of any medical condition. Please consult your doctor or other qualified health care provider if you have any questions about a medical condition; or before taking any drug, changing your diet, or commencing or discontinuing any course of treatment.
  %p
    Never disregard professional medical advice or delay seeking it because of something you have read on BP Track!
  %p
    If you think you may have a medical emergency, call 911 or your doctor immediately.

  %h4 3. Your Account, Use of BP Track, and Associated Fees
  %p
    You must provide accurate and complete registration information when you register to use BP Track. You are responsible for the security of your passwords and for any use of your account. You must immediately notify us of any unauthorized use of your password or account.
  %p
    Your use of BP Track and any Content and Services must comply with all applicable laws, regulations, and ordinances, including any laws regarding the export of data or software. You must be at least 18 years old to use BP Track.
  %p
    BP Track is a subscription service and subscription fees for access to certain features may be required in the future. Your access to and use of BP Track subscription services will be premised on your payment of the applicable subscription fee, if any. The fees applicable to your access to and use of BP Track and the services available on BP Track will be described on our Fees page. Certain services available on BP Track may require an additional fee. Prior to incurring any additional fees you will be notified that access to the service requires payment of a fee and you will be asked to accept such fee.

  %h4 4. Use of Your Information
  %p
    The privacy of your personal information is paramount. 
  %p
    Email and short message service (SMS) communications from http://bptrack.appspot.com and related Web sites ("BP Track") are not encrypted and this information is not secured. It is possible for these communications to be intercepted or accessed without your authorization, and by using BP Track, you hereby release BP Track from any liability arising from or related to any such unauthorized access.

  %h4 5. Content and Services Accessed through BP Track
  %p
    We authorize you to view or download the Content and use the Services solely for your personal, noncommercial use in accordance with all applicable laws.
  %p
    The Content and Services may not be used for any illegal purpose. You may not access our networks, computers, or the Content and Services in any manner that could damage, disable, overburden, or impair them, or interfere with any other person's use and enjoyment. You may not attempt to gain unauthorized access to any Content or Services, other accounts, computer systems, or networks connected with BP Track, the Content, or Services.
  %p
    The Content is licensed only for the personal, household, and educational use of a single individual. An individual's noncommercial reuse or redistribution of any portion of the Content that falls within what is or would be permitted by the United States Copyright or the Lanham Act is permitted. No commercial use or redistribution of any Content is permitted. Any hyperlink or other re-display of the information on another web site must display the Content full-screen and not within a "frame" on the linked or other site.
  %p
    We do not recommend or endorse any specific Content, Services, tests, physicians, products, procedures, opinions, or other information that may be mentioned on BP Track. Reliance on BP Track Content or Services is solely at your own risk. Content and Services may have been provided by third parties and are not vetted or certified by BP Track. While we believe you will find the Content and Services useful, we cannot guarantee that the Content and Services will help you achieve the results you desire. Content regarding dietary supplements or other treatments or regimens has not been evaluated by the Food and Drug Administration and is not intended to diagnose, treat, cure, or prevent any disease.
  %p
    The Content and Services may link you to other web sites or information, software, data, or other contents on or off the Internet, including linked click-through or other advertising, or through featured or sponsored sites. We have not reviewed the contents that may be reached by such links and we are not responsible for such content. Your linking to any other pages on other sites is at your own risk. The information, software, data, or other contents (including opinions, claims, comments) contained in linked references are those of the companies responsible for such sites and should not be attributed to us. We have not attempted to verify the truth or accuracy of any such opinion, claim, or comment, nor do we endorse or support them. We do not warrant, nor are we in any way responsible for, information, software, data, privacy policies, or other content that is outside of our control.

  %h4 6. Proprietary Rights, Submissions, Notice, and Takedown Procedures
  %p
    We and our licensors own all proprietary rights to BP Track Content and Services. Your license to use BP Track is personal, revocable, nonassignable, and nonexclusive. BP Track, the BP Track logo, other BP Track Trademarks and service marks and other BP Track logos and product and service names are our trademarks. Without BP Track's prior permission, you agree not to display or use in any manner the BP trademarks.  
  %p
    If you believe any materials accessible on or from BP Track infringe your copyright, you may request removal of those materials (or access thereto) from BP Track by contacting us.

  %h4 7. Modification and Termination of BP Track
  %p
    If you violate any of the terms of this Agreement, your permission to use the Content and Services automatically terminates and you must immediately destroy any copies you have made of any portion of the Content. We may place limits on, mhodify, or terminate your right to access and use BP Track and the Services and/or Content at anytime. This suspension or termination may delete information, files, and other previously available Content.

  %h4 8. Changes to this Agreement
  %p
    We may occasionally update these Terms of Service. When we do, we will also revise the "last modified" date at the top of this document. We encourage you to review these terms of service periodically. Your continued use of BP Track constitutes your agreement to the changed terms of service.

  %h4 9. Indemnification
  %p
    You agree to indemnify and hold us harmless against any claims or losses imposed on, incurred by, or asserted as a result of or relating to: (a) your use of BP Track or the Content or Services; (b) your noncompliance with any of the terms and conditions hereof; and (c) any third-party actions related to or arising from your receipt or use of BP Track or the Content or Services, whether authorized or unauthorized under the Terms of Service.

  %h4 10. Exclusion of Warranties
  %p
    BP Track AND THE CONTENT AND SERVICES ARE PROVIDED "AS IS." NEITHER WE NOR ANY OF OUR LICENSORS MAKE ANY EXPRESS WARRANTIES, AND WE AND EACH OF THEM DISCLAIMS ALL IMPLIED WARRANTIES, INCLUDING IMPLIED WARRANTIES OF ACCURACY, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. NEITHER WE NOR ANY OF OUR LICENSORS MAKE ANY WARRANTY THAT CONTENT OR SERVICES SATISFY GOVERNMENT REGULATIONS INCLUDING THOSE REQUIRING DISCLOSURE OF INFORMATION ON PRESCRIPTION DRUG PRODUCTS. BP Track AND THE CONTENT AND SERVICES WERE DEVELOPED FOR USE IN THE UNITED STATES, AND NEITHER WE NOR ANY OF OUR LICENSORS MAKE ANY REPRESENTATION CONCERNING BP Track AND THE CONTENT OR SERVICES WHEN USED IN ANY OTHER COUNTRY.

  %h4 11. Limitation of Liability
  %p
    NEITHER YOU NOR WE NOR ANY OF OUR LICENSORS MAY BE HELD LIABLE UNDER THIS AGREEMENT FOR ANY DAMAGES OTHER THAN DIRECT DAMAGES, EVEN IF THE PARTY KNOWS OR SHOULD KNOW THAT OTHER DAMAGES ARE POSSIBLE, OR THAT DIRECT DAMAGES ARE NOT A SATISFACTORY REMEDY. THE LIMITATIONS IN THIS SECTION APPLY TO YOU ONLY TO THE EXTENT THEY ARE LAWFUL IN YOUR JURISDICTION.
  %p
    NEITHER YOU NOR US OR ANY OF OUR LICENSORS MAY BE HELD LIABLE UNDER THIS AGREEMENT FOR MORE THAN $100.
  %p
    The limitations of liability in this section do not apply to breaches of intellectual property provisions by you or your indemnification obligations relating hereunder.

  %h4 12. General Legal Terms
  %p
    This agreement is the entire agreement between you and us relating to BP Track and replaces any prior agreements unless such prior or subsequent agreement explicitly provides otherwise and specifically references this agreement. If there is any conflict between this agreement and a signed written agreement between you and us related to BP Track, the signed written agreement will control.
  %p
    Failure to enforce any provision will not constitute a waiver of that provision. If any provision is found unenforceable, it and any related provisions will be interpreted to best accomplish the unenforceable provision's essential purpose.
  %p
    This agreement is governed by California law, excluding California's choice-of-law rules. THE EXCLUSIVE VENUE FOR ANY DISPUTE RELATING TO THIS AGREEMENT IS SANTA CLARA COUNTY, CALIFORNIA. YOU AND US CONSENT TO THE PERSONAL JURISDICTION OF THESE COURTS. Nothing in this agreement limits either party's ability to seek equitable relief.
       