#flash
  - flash.each do |key, value|
    %div.alert.fade.in{:class => "alert-#{key}"}
      %a.close{:data => {:dismiss => "alert"}, :href => "#"} &times;
      - flash.each do |key, value|
        = value