= stylesheet_link_tag 'application', :media => nil
=stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css"

-# Append your own using content_for :stylesheets
= yield :stylesheets