footer {
  background: $color-5;
  margin-top: 30px;
  padding:30px;
  .social-links {
    @include columns(4);
    @include alpha;
  }
  .terms-of-service {
    @include columns(4);
  }
  .contact-info {
    @include columns(4);
    @include omega;
  }
  .copyright {
    @include full;
  }
}